<?xml version="1.0" encoding="UTF-8"?>
<data>
    <problem>AugLag_ChannelUnitFlow</problem>

   <FEfields>
       <pspace>P1</pspace>
       <vspace>P2</vspace>
       <BCtype>symmetry</BCtype>
   </FEfields> 

   <PhysicalParameters>
       <Bn>4.8</Bn>
       <Viscosity></Viscosity>
   </PhysicalParameters>

   <Augmentation_coef>10</Augmentation_coef>

   <unitflow_rhs_controller>
	   <bodyforce_vector>1 0 0</bodyforce_vector>
   </unitflow_rhs_controller>

   <flowrate_calculation_edge_name>left</flowrate_calculation_edge_name>
   <report_header_reprint_frequency>30</report_header_reprint_frequency>

   <LowResolution_step>
      <SteadyAnalyser>
	     <n_points_to_monitor>10</n_points_to_monitor>
         <normalized_deviation_limit>.001</normalized_deviation_limit>
      </SteadyAnalyser>

      <Secant>
         <max_iter>6</max_iter>
         <tolerance>1E-3</tolerance>
         <target>-1.</target>
         <initial_point>0 0</initial_point>
         <next_input>3.</next_input>
      </Secant>

      <max_iteration>500</max_iteration>
      <reports_frequency>20</reports_frequency>
   </LowResolution_step>

   <HighResolution_step>
      <max_iteration>2</max_iteration>
      <flowrate_convergence_limit>1E-5</flowrate_convergence_limit>

      <AugmentedLag>
         <reports_frequency>50</reports_frequency>
         <convergence_limit>3E-6</convergence_limit>
         <max_iteration>100</max_iteration>
         <min_iteration>50</min_iteration>
      </AugmentedLag>
   </HighResolution_step>

   <Mesh>
      <name>channel</name>
      <type>symy</type>
      <width>2</width>
      <length>.5</length>
      <command_line_args>-hmax .1</command_line_args>
      <plot_mesh_args>no</plot_mesh_args>
   </Mesh>

    <Adaptation>
        <cycles>4</cycles>
        <hmin>.001</hmin>
        <hmax>.07</hmax>
        <hcoef>1</hcoef>
        <err>2E-4</err>
        <errg>1E-1</errg>
        <ratio>2</ratio>
        <additional>-AbsError</additional>
        <n_vertices_max>10000</n_vertices_max>
    </Adaptation>    
</data>
