<?xml version="1.0" encoding="UTF-8"?>
<data>
    <problem>AugLag_ChannelUnitFlow</problem>

    <FEfields>
        <pspace>P1</pspace>
        <vspace>P2</vspace>
    </FEfields> 

    <AugmentedLagrangian>
        <Bn>1</Bn>
        <a>10</a>      
    </AugmentedLagrangian>

   <convergence_limit>1E-5</convergence_limit>
   <flowrate_calculation_edge_name>left</flowrate_calculation_edge_name>
   <max_iteration>300</max_iteration>
   <reports_frequency>10</reports_frequency>   

   <Secant>
       <max_iter>6</max_iter>
       <tolerance>1E-3</tolerance>
       <target>2.</target>
       <initial_point>0 0</initial_point>
       <next_input>4.</next_input>
   </Secant>

   <unitflow_rhs_controller>
       <edge_name>left</edge_name>
   </unitflow_rhs_controller>

   <mesh>
      <name>channel</name>
      <type>full</type>
      <width>2</width>
      <length>1</length>
      <command_line_args>-hmax .1</command_line_args>
      <plot_mesh_args>-gnuplot</plot_mesh_args>
   </mesh>

    <Adaptation>
        <cycles>2</cycles>
        <max_vertices>10000</max_vertices>
        <hmin>.001</hmin>
        <hmax>.1</hmax>
        <hcoef>6</hcoef>
        <err>2E-3</err>
        <n_vertices_max>50000</n_vertices_max>
        <additional>-RelError</additional>
    </Adaptation>    
</data>
