<?xml version="1.0" encoding="UTF-8"?>
<data>
    <problem>MacroBubbleFlowOnset</problem>

    <FEfields>
        <pspace>P1</pspace>
        <vspace>P2</vspace>
        <BCtype>full</BCtype>
    </FEfields>    

    <!--force_param_initial_bounds>2 2</force_param_initial_bounds-->
	<rhs_force_term>
       <normal_stress_value>1</normal_stress_value>
	   <edge_name>left</edge_name>
	</rhs_force_term>
    <force_param_delta>.5</force_param_delta>
    <force_param_tolerance>.01</force_param_tolerance>

	<Solver>
	    <Augmentation_coef>10</Augmentation_coef>
		<PhysicalParameters>
		    <Bn>1</Bn>
		    <Viscosity></Viscosity>
		</PhysicalParameters>

	   <convergence_limit>1E-6</convergence_limit>
	   <min_iteration>5</min_iteration>
	   <max_iteration>10</max_iteration>
	   <report_frequency>1</report_frequency>
	</Solver>

   <Mesh>
      <name>macroBub</name>
      <type>symxy bubble</type>
      <npoint>1000</npoint>
      <bubble_length>.6</bubble_length>
      <bubble_width>.2</bubble_width>
      <channel_width>1</channel_width>
      <channel_length>2</channel_length>
      <hwall>.02</hwall>
      <plot_mesh_args>no</plot_mesh_args>

      <ParametricCurve_mesh>
         <max_dTheta>.1</max_dTheta>
         <max_ds>.05</max_ds>
      </ParametricCurve_mesh>
   </Mesh>
</data>
