<?xml version="1.0" encoding="UTF-8"?>
<data>
    <problem>AugLag_SteadyPoiseuille</problem>

    <FEfields>
        <pspace>P1</pspace>
        <vspace>P2</vspace>
        <BCtype>full</BCtype>
    </FEfields>    

    <PhysicalParameters>
        <Bn>4.8</Bn>
        <Viscosity></Viscosity>
    </PhysicalParameters>

   <Augmentation_coef>10</Augmentation_coef>
   <convergence_limit>1E-6</convergence_limit>
   <max_iteration>800</max_iteration>
   <min_iteration>100</min_iteration>
   <reports_frequency>50</reports_frequency>

   <source_term>
       <!--normal_stress_value>4.8</normal_stress_value>
       <edge_name>left</edge_name-->
       <bodyforce_vector>9.6 0 0</bodyforce_vector>
   </source_term>

   <Mesh>
      <name>channel</name>
      <type>full</type>
      <width>2</width>
      <length>.5</length>
      <command_line_args>-hmax .1</command_line_args>
      <plot_mesh_args>no</plot_mesh_args>
   </Mesh>

    <Adaptation>
        <cycles>3</cycles>
        <hmin>.005</hmin>
        <hmax>.1</hmax>
        <hcoef>1</hcoef>
        <ratio>1</ratio>
        <err>1e-3</err>
        <errg>1e-3</errg>
        <additional>-AbsError</additional>
        <n_vertices_max>20000</n_vertices_max>
    </Adaptation>    
</data>
