<?xml version="1.0" encoding="UTF-8"?>
<data>
    <problem>AugLag_SteadyCavity</problem>

    <FEfields>
        <pspace>P1</pspace>
        <vspace>P2</vspace>
    </FEfields>

    <AugmentedLagrangian>
        <Bn>10</Bn>
        <a>10</a>             
    </AugmentedLagrangian>

   <convergence_limit>1E-5</convergence_limit>
   <max_iteration>1000</max_iteration>
   <reports_frequency>50</reports_frequency>    

   <Mesh>
      <name>cavity</name>
      <type>full</type>
      <width>1</width>
      <length>1</length>
      <command_line_args>-hmax .07</command_line_args>
      <plot_mesh_args>no</plot_mesh_args>
   </Mesh>

    <Adaptation>
        <cycles>4</cycles>
        <n_vertices_max>40000</n_vertices_max>
        <hmin>.005</hmin>
        <hmax>.1</hmax>
        <hcoef>7 6</hcoef>
        <err>1E-3</err>
    </Adaptation>
 
    <source_term></source_term>
</data>
