<?xml version="1.0" encoding="UTF-8"?>
<data>
    <problem>AugLag_SteadyCavity</problem>

    <FEfields>
        <pspace>P1</pspace>
        <vspace>P2</vspace>
    </FEfields>

    <AugmentedLagrangian>
        <Bn>1</Bn>
        <a>10</a>             
    </AugmentedLagrangian>

   <convergence_limit>1E-5</convergence_limit>
   <max_iteration>300</max_iteration>
   <reports_frequency>10</reports_frequency>    

   <mesh>
      <name>cavity</name>
      <type>full</type>
      <width>1</width>
      <length>1</length>
      <command_line_args>-hmax .1</command_line_args>
      <plot_mesh_args>-gnuplot</plot_mesh_args>
   </mesh>

    <Adaptation>
        <cycles>1</cycles>
        <max_vertices>10000</max_vertices>
        <hmin>.01</hmin>
        <hmax>.3</hmax>
        <hcoef>4</hcoef>
        <err>5E-3</err>
        <additional>-RelError</additional>
    </Adaptation>
    
   <source_term></source_term> 
</data>
